html{
  font-size: 16px;
  background-color:#bbdefb;
}

.titlecontainer {
  margin-bottom: 5rem;
} 

.foodDrinksContainer{
  display: flex;
  justify-content: space-around;
}

.buttonsLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelClass{
  font-size: 1.3rem;
  margin-top: 1rem;
  color: white;
}

.dessertsContainer{
  display: flex;
  justify-content: center;
  margin: 3rem;
} 

.waiterContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.tableContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 3.5rem;
  margin-right: 1rem;
}

.btn-floating.btn-large {
  width: 6rem;
  height: 6rem;
}

.btn-floating.btn-large i {
  line-height: 6rem; 
  font-size: 2.5rem;
}

a.btn-floating.btn-large.waves-effect.waves-light.imageTag{
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
}

.cyan {
  background-color: #5f8cee !important;
  border-color: #6a89cc !important;
}