.logoContainer {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 10rem;
}

.logo {
  max-width: 8rem;
  max-height: 8rem;
}

.facebookContainer {
  display: flex;
  justify-content: center;
  padding: 0.8rem;
  margin: 9rem 1rem;
  color: white;
  background-color: #4267b2;
  border-radius: 4px;
  font-size: 1rem;
}